.tickets {
    padding: 75px 0;
    background: var(--white)
}

.tickets__wrapper {
    display: flex;
    gap: 60px;
}

.tickets__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 33px;
}

.form {
    max-width: 660px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 240px;
    height: 360px;
}

.form__left,
.form__right {
    display: flex;
    flex-direction: column;
}

.form__left {
    width: 300px;
    text-align: left;
}

.form__right {
    max-width: 151px;
    width: 100%;
    text-align: right;
}

h4.form__title {
    font-family: var(--font-text);
    color: var(--black);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 52px;
}

.form__radio {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 27px;
    margin-bottom: 25px;
}

.radio__wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.radio__wrapper:hover {
    background-color: #c7c6c6;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.radio__wrapper span {
    font-family: var(--font-text);
    color: var(--black);
    font-weight: 300;
    font-size: 22px;
    cursor: pointer;
    margin-left: 40px;
    display: flex;
}

.radio__wrapper_input {
    appearance: none;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.radio__wrapper span::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    border: 2px solid var(--black);
    border-radius: 50%;
    left: 0;
    top: 10%;
    padding-bottom: 0;
    text-align: center;
}

.radio__wrapper span::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    left: 7px;
    top: 7px;
    transform: translate(-10%, 30%);
    background-color: var(--black);
    opacity: 0;
}

.radio__wrapper input[type="radio"]:checked+span::after {
    opacity: 1;
}

.form__right .form__title {
    margin-bottom: 25px;
    padding-right: 1px;
}

.form__number {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.form__number input {
    width: 100%;
    padding: 14px 14px 10px;
    font-family: var(--font-text);
    color: var(--black);
    font-weight: 300;
    font-size: 17px;
    border: 4px solid var(--black);
    margin-bottom: 25px;
}

.form__number label {
    text-align: start;
}

.form__number_1 label,
.form__number_2 label {
    font-family: var(--font-text);
    color: var(--black);
    font-weight: 300;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 16px;
}

.form__number_1 {
    margin-bottom: 10px;
}

.form__number_2 label {
    margin-bottom: 16px;
    letter-spacing: 0.8px;
}

.form__number input::placeholder {
    color: var(--black);
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.8px;
    padding-left: 52px;
}

.form__number input {
    position: relative;
}

.form__number_2 {
    margin-bottom: 50px;
}

.button__number {
    width: 18px;
    font-family: var(--font-text);
    color: var(--black);
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none
}

.button__minus {
    position: absolute;
    top: 64%;
    left: 14px;
}

.button__plus {
    position: absolute;
    top: 64%;
    right: 14px;
}

.form__total {
    font-family: var(--font-text);
    color: var(--black);
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 1.55px;
    margin-bottom: 25px;
}

.form__button {
    width: 175px;
    padding: 14px 0 14px;
    background: var(--black);
    font-family: var(--font-text);
    color: var(--white);
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none
}

.form__button:hover {
    background: var(--font-gold);
    transition: all 0.5s ease-in-out;
}



@media (max-width: 1200px) {
  .tickets__wrapper {
    gap: 20px;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tickets__img {
    max-width: 45%;
    height: auto;
  }

  .form {
    gap: 100px;
  }

  .form__left {
    width: 260px;
  }

  .form__right {
    max-width: 140px;
  }

  h4.form__title {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .radio__wrapper span {
    font-size: 20px;
  }
}


@media (max-width: 992px) {
  .tickets__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tickets__img {
    max-width: 80%;
    margin-bottom: 30px;
  }

  .tickets__info {
    align-items: center;
  }

  .form {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: auto;
  }

  .form__left,
  .form__right {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .form__right {
    align-items: center;
  }

  .radio__wrapper {
    justify-content: center;
  }

  .radio__wrapper span {
    font-size: 18px;
    margin-left: 30px;
  }

  .form__number input {
    font-size: 18px;
  }

  .form__total {
    font-size: 24px;
  }

  .form__button {
    width: 200px;
    font-size: 20px;
  }
}


@media (max-width: 768px) {
  .tickets {
    padding: 40px 0;
  }

  .tickets__img {
    max-width: 100%;
  }

  .form {
    gap: 30px;
  }

  .form__left {
    width: 100%;
  }

  .form__right {
    width: 100%;
    max-width: 100%;
  }

  .radio__wrapper {
    gap: 10px;
  }

  .radio__wrapper span {
    font-size: 16px;
    margin-left: 25px;
  }

  h4.form__title {
    font-size: 20px;
  }

  .form__number input {
    font-size: 16px;
    padding: 12px;
  }

  .form__number label {
    font-size: 18px;
  }

  .form__button {
    width: 160px;
    font-size: 18px;
    padding: 10px 0;
  }

  .form__total {
    font-size: 20px;
  }

  .button__minus,
  .button__plus {
    top: 56%;
  }
}


@media (max-width: 480px) {
  .tickets__wrapper {
    gap: 20px;
  }

  .tickets__img {
    width: 100%;
  }

  .radio__wrapper span {
    font-size: 15px;
  }

  .form__number label {
    font-size: 16px;
  }

  .form__number input {
    font-size: 15px;
  }

  .form__button {
    width: 140px;
    font-size: 16px;
  }

  .form__total {
    font-size: 18px;
  }
}