    .gallery {
        padding: 60px 0 0;

    &__container {
        padding: 0;
    }

    &__wrapper {
        display: flex;
        position: relative;
    }

    &__wrapper-tablet {
        height: 1250px;
        display: block;
        display: flex;
        justify-content: space-between;
        row-gap: 24px;
        column-gap: 36px;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
    }

    &__item_shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(to top, var(--bg-dark), transparent
    )
}

&__item img.animate {
  transform: scale(1.05);
  opacity: 1;
  transition: all 0.5s ease;
}

&__item img {
  opacity: 0.5;
  transform: scale(1);
}
}

.gallery__item img {
    opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition: transform 0.8s ease, opacity 0.8s ease;

}

.gallery__item img.animate {
    opacity: 1;
  transform: translateY(0) scale(1);
}
/* ////////////////////////// */

.gallery__item_1,
.gallery__item_3 {
    padding-top: 50px;
}





