.welcome {
    width: 100vw;
    background: var(--white);
    padding: 75px 40px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
}








