.welcome__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 75px;
    column-gap: 60px;

    @media (max-width: 1135px) {
    .welcome__list {
        text-align: center;
        justify-content: center;
    }
}
}