.welcome-card__title {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 5px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 10px;
}