.welcome-card {
    &__img {
    max-width: 440px;
    height: 285px;
    margin-bottom: 18px;
}

&:hover img {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

&__title {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 5px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

&__line {
    width: 300px;
    height: 2px;
    background-color: var(--color-button);
    margin-bottom: 10px;
    border: none;
}

& a .welcome-card__line {
    display: block;
    width: 50%;
    left: 0;
    background-color: var(--font-gold);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

&:hover .welcome-card__line {
    width: 440px;
    margin-top: 2px;
}

&__text {
    font-family: var(--font-text);
    font-weight: 100;
    font-size: 22px;
    color: var(--black);
    text-align: left;
}

&__text:not(:last-child) {
    font-size: 22px;
    margin-bottom: 10px;
}
}


