.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 20, 43, 0.826);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: none;
}

.overlay.active {
    display: flex;
}

.overlay__white {
    position: relative;
    top: 0;
    left: 0;
    height: 845px;
    background-color: var(--white);
    width: 1055px;
    padding: 90px 0;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.overlay__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    z-index: 10;
}

.overlay__close span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #030303;
    cursor: pointer;
    transform: rotate(45deg);
}

.overlay__close span.two {
    transform: rotate(-45deg);
}

.overlay__container {
    width: 970px;
    height: 663px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ticket-form {
    width: 400px;
    text-align: left;
}

.ticket-form__logo {
    width: 85px;
    height: 41px;
}

.ticket-form__title {
    font-family: var(--font-title);
    font-size: 43px;
    font-weight: 300;
    color: var(--font-gold);
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.ticket-form__subtitle {
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 400;
    color: var(--color-button);
    margin-bottom: 10px;
}

.ticket-form__line {
    width: 100%;
    height: 3px;
    background-color: var(--color-line);
    margin-bottom: 15px;
    border: none;
    margin-bottom: 60px;
}

.ticket-form__date {
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.ticket-form__input-date,
.ticket-form__input-time {
    width: 190px;
    height: 45px;
    border: 1px solid var(--color-line);
    padding-left: 10px;
    padding-right: 10px;
}

.ticket-form__input-name,
.ticket-form__input-email,
.ticket-form__input-phone,
.ticket-form__input-type {
    width: 400px;
    height: 45px;
    border: 1px solid var(--color-line);
    margin-bottom: 20px;
    padding-left: 15px;
}

.price {
    padding: 10px 15px 15px;
    border: 1px solid var(--color-line);
}

.price__text {
    font-family: var(--font-title);
    font-size: 18px;
    font-weight: 400;
    color: var(--font-gold);
    margin-bottom: 5px;
}

.price__line {
    width: 370px;
    height: 2px;
    background: var(--color-line);
}

.price__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.price__counter {
    display: flex;
    width: 118px;
    margin: 0;
}

.price__title {
    display: inline-block;
    width: 150px;
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.price__place,
.price__number,
.price__minus {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 25px;
    background: var(--bg-dark);
    text-align: center;
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    line-height: 25px;
}

.price__number {
    text-align: center;
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    line-height: 25px;
    background: var(--white);
    color: var(--bg-dark);
    border: 2px solid var(--bg-dark);
}

.price__minus,
.price__place {
    border: 2px solid var(--bg-dark);
    cursor: pointer;
}

.ticket-card {
    border: 1px solid var(--bg-dark);
    padding: 25px 30px;
    position: relative;
    height: 700px;

}

.ticket-card__wrapper {
    width: 470px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.overview__title {
    font-family: var(--font-text);
    font-size: 32px;
    font-weight: 500;
    color: #272727;
    margin-bottom: 5px;
}

.overview__subtitle {
    font-family: var(--font-text);
    font-size: 22px;
    font-weight: 500;
    color: #740C11;
    margin-bottom: 10px;
}

.overview__date,
.overview__time,
.overview__check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.overview__date img,
.overview__time img,
.overview__check img {
    width: 15px;
    height: 15px;
}

.overview__date h4,
.overview__time h4,
.overview__check h4 {
    font-family: var(--font-text);
    font-size: 18px;
    font-weight: 300;
    color: #030303;
}

.profile__foto {
    width: 240px;
    height: 166px;
}

.overview__wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.overview__wrapper span {
    width: 32px;
    height: 20px;
    border-radius: 5px;
    background: #030303;
    color: #A4A4A3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.overview__wrapper div {
    width: 428px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.overview__wrapper h4 {
    font-family: var(--font-text);
    font-size: 22px;
    font-weight: 400;
    color: white;
}

.overview__line {
    width: 470px;
    height: 2px;
    background: var(--color-line);
    margin: 9px 0;
}

h3 {
    color: #030303;
}

span {
    color: black;
}

.overview__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    h3 {
        color: white;
    }

    span {
        color: white;
    }
}

.card__1,
.card__2 {
    width: 360px;
    height: 211px;
    z-index: 2;
    border-radius: 5px;
}

.card__1 {
    position: absolute;
    bottom: 115px;
    right: 137px;
    z-index: 3;
}

.card__2 {
    position: absolute;
    bottom: 77px;
    right: 30px;
    background: #939393;
    z-index: 0;
}

.ticket-card__button {
    position: absolute;
    bottom: 16px;
    right: 30px;
    width: 220px;
    height: 45px;
    background: var(--color-button);
    font-family: var(--font-text);
    font-size: 22px;
    font-weight: 400;
    color: var(--white);
    border: none;
    cursor: pointer;
    outline: none;
}





@media (max-width: 1024px) {
    .overlay__white {
        padding: 50px 24px;
    }

    .ticket-form__title {
        font-size: 34px;
    }

    .ticket-card__button {
        right: 20px;
        width: 200px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .overlay__white {
        padding: 36px 18px;
        flex-direction: column;
        overflow-x: hidden;
    }

    .overlay__container {
        gap: 20px;
        flex-direction: column;
    }

    .overlay__close {
        top: -5px;
        right: 12px;
    }

    .ticket-form__date {
        flex-direction: column;
        gap: 20px;
    }

    .profile__foto{
        margin-bottom: 20px;
    }

    .card__1,
    .card__2 {
        position: absolute;
    }

    .card__1 {
        left: 20px;
        top: 620px;
    }

    .card__2 {
        left: 80px;
        top: 700px;
        margin-bottom: 20px;
    }

    .overview__total {
        max-width: 30%;
    }

    .ticket-card__wrapper {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .ticket-card__button {
        position: absolute;
        bottom: -500px;
        left: 0;
    }

    .price__wrapper {
        align-items: center;
    }
}

@media (max-width: 768px) {
  .overlay__white {
    max-height: 90vh;
    overflow-y: auto;
  }
}

@media (min-width: 769px) {
  .overlay__white {
    max-height: none;
    overflow: visible;
  }
}

@media (max-width: 480px) {

    .ticket-card__button {
        bottom: -400px;
    }
}
