:root {
    --white: #ffffff;
    --black: #000000;
    --light-gray: #B3B3B3;
    --bg-dark: #030303;
    --dark-gray: #666666;
    --medium-gray: #999999;
    --font-gold: #9D8665;
    --video-button: #212121;
    --gray: #C4C4C4;
    --span-gold: #D2B183;
    --color-span-text: #CAAA7D;
    --color-button: #710707;
    --color-line: #740C11;
    --linear: linear-gradient(0deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);


    --font-title: 'Forum', sans-serif;
    --font-text: 'Roboto', sans-serif;
}
